body{margin:0px;
    background-color: #796dce;
padding:0px;}
.title{height:50px;
    color:#ffffff;
    padding:5px;
   
background-color:#f2f434;}
.navbar{color:#f2f2f2;}
.main-container{display:flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
    margin-top:50px;

}
.icon{width:50px;
height:50px;
}
.input-amount{width:100px;}

    
.input-data{align-items: center;
justify-content: center;
height:230px;}

.flex-col{display:flex;
flex-direction: column;}

.select{width:100px;}

.box{background-color: #ffffff;
margin:20px;
padding:20px;
width:320px;
border-radius:4px;}


.box-lg{width:400px;}
@media only screen and (max-width:600px){

    .main-container{
        flex-direction: column;
        }
.box-lg{width:320px;
    margin-top:25px;
}
     .box{margin:auto;} 
}